form {
    margin: 10px;
}

#btn-add {
    position: absolute;
    left: 610px;
    top: 140px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  #del-Button {
      display: block;
      margin: auto;
  }

  body {
      background-color: lightblue;
  }

  #color {
      background-color: darkblue;
      color: white;
  }

  table {
      background-color: lightsteelblue;
  }

  #btn-add {
      background-color: blue;
      color: yellow;
  }

  